*{
    margin: 0;
    padding: 0;
}
.contenair{
    height: 100vh;
    width: 100%;
    position: relative;
}

.centre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center{
    text-align: center;
}


@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');

.word {
	font-family: 'Anton', sans-serif;
	perspective: 1000px; 
    transform: translate(-2vw, -5vw);
}

.word span {
	cursor: pointer;
	display: inline-block;
	font-size: 100px;
	user-select: none;
	line-height: .8;
}

.word span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}
	
	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}
	
	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}
	
	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}
	
	24% {
		transform: rotateX(150deg);
	}
	
	36% {
		transform: rotateX(200deg);
	}
	
	48% {
		transform: rotateX(175deg);
	}
	
	60%, 85% {
		transform: rotateX(180deg);
	}
	
	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(4).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}
	
	100% {
		transform: rotateY(360deg);
	}
}

@keyframes rotate2 {
	20%, 80% {
		transform: rotateX(45deg);
	}
	
	
}
.word span:nth-child(5).active {
	animation: toplong 1.5s linear;
}
.word span:nth-child(6).active {
	animation: rotate 1s ease-out;
}
.word span:nth-child(7).active {
	animation: rotate2 1s ;
}
@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}
	
	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}

/* Other styles */
body {
	background-color: white;
	color: #fff;
	display: flex;
	font-family: 'Roboto', sans-serif;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 100vh;
	margin: 0;
}

.fixed {
	position: fixed;
	top: 40px;
	left: 50%;
	transform: translateX(-30%);
}
/*
footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	letter-spacing: 1px;
}

footer i {
	color: red;
}

footer a {
	color: #3C97BF;
	text-decoration: none;
} 
*/


.button{
    position: absolute;
    
    top: 31vw;
    left: 25vw;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    transition: .5s;
  }
  .button:hover{
    background: yellow;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .button span {
    position: absolute;
    display: block;
  }
  .button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, white);
    animation: btn-anim1 1s linear infinite;
  }
  @keyframes btn-anim1 {
    0%{
      left: -100%;
    }
    50%,
    100%{
      left: 100%;
    }
  }
  .button span:nth-child(2){
    top: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, yellow);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
  }
  @keyframes btn-anim2 {
    0%{
      top: -100%;
    }
    50%,
    100%{
      top: 100%;
    }
  }
  .button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, yellow);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
  }
  @keyframes btn-anim3{
    0%{
      right: -100%;
    }
    50%,
    100%{
      right: 100%;
    }
  }
  .button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, yellow);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
  }
  @keyframes btn-anim4{
    0%{
      bottom: -100%;
    }
    50%,
    100%{
      bottom: 100%;
    }
  }

.yellow{
    height: 50vh;
    width: 100%;
    background-color: yellow;
    position: absolute;
    bottom: 0;
}
.black{
    height: 90vh;
    width: 90%;
    background-color: black;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
}
.jordan{
    color: yellow;
}
.nav{
    height: 10vh;
    width: 90%;
    background-color: white;
    position: absolute;
    margin: auto;
    left: 10px;
    right: 10px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.navigation{
    display: flex;
}

.h5-jordan{
    display: inline;
    margin-top: 10px;
    color: black;
}

.nav .icone1 i{
    color: yellow; 
    font-size:20px;

}

#bai{
    display: none;
}

#nav{
    display: none;
}


.img1{
    height: 30px; width: 30px;
    display: flex;
}
.bien{
    position: absolute;
    bottom: 300px;
    left: 60px;
    font-size: 2vw;
    line-height: 5vw;
}
.btn{
    border: none;
    position: absolute;
    background-color: yellow;
    width: 18%;
    margin: auto;
    left: 60px;
    bottom: 100px;
    color: black;
    height: 8vh;
    border-radius: 20px;
    font-size: 1.5vw;
}

.img2 .imge{
    height: 320px;
    width:350px;
    left: 10vw;
}

.text{
    border: none;
    position: absolute;
    width: 15%;
    margin: auto;
    left: 60px;
    top: 150px;
    font-size: 30px;
}
.icone{
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.icone i{
    color: yellow; 
    font-size:25px;
}

.contact{
    position: absolute;
    margin: auto;
    bottom: 10px;
    right: 300px;
    height: 10vh;
    width: 50%;
}

.contact a{
    color: yellow;
    position: absolute;
    left: 320px;
    bottom: 65px;
}

.contact h3{
    color:yellow;
    position: absolute;
    left: 220px;
    bottom: 25px;
}

.ligne{
    height: 0.4vh;
    width: 100%;
    background-color: grey;
    position: absolute;
    bottom: 10px;
    left: 70px;
}
#ligne{
    display: none;
}
.img2{
    position: absolute;
    right: 50px;
    top: 100px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    font-size: 15px;
    color: yellow;
    
}
.btn:hover{
    font-size: 1.7vw;
    color: black;

}
i{
    padding: 15px;
}
.bien{
    color: white;
}
.image{
    display: none;
}






/* faire le mode responsive */

@media screen and (max-width: 1100px) {
    .image{
        display: block;
        position: absolute;
        width: 50%;
        height: 20VH;
        right: 100px;
        top: 50px;
    }
    .img2{
        display: none;
    }

    h5{
        display: inline;
        margin-top: 10px;
        color: black;
    }

    .word{
        display: none;
    }

    .button:hover{
        background: yellow;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 1px #03e9f4,
                    0 0 1px #03e9f4,
                    0 0 1px #03e9f4,
                    0 0 1px #03e9f4;
      }

    .button{
        margin-top: 95vw;
    }
    .image{
        height: 30vh;
        width: 60vw;
        left: 9vw;
        top: 30vw;
    }

    nav{
        display: none;
    }
    #nav{
        display: block;
        height: 10vh;
        width: 90%;
        background-color: white;
        position: absolute;
        margin: auto;
        left: 10px;
        right: 10px;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
    }
    #bai {
        position: absolute;
        top: 44vw;
        right: 15vw;
        color: white;
        font-size: 4vw;
        width: 80%;
        display: inline;
        z-index: 0;
    }
    a{
        display: none;
    }
    .icone{
        position: absolute;
        right: 5vw;
        width: 70vw;

    }
    .btn{
        position: absolute;
        text-align: center;
        left: 26vw;
        bottom: 25vw;
        height: 5vh;
        width: 45%;
    }
    .bien{
        display: none;
    }
    #ligne{
        display: block;
        height: 0.4vh;
        width: 70vw;
        background-color: grey;
        position: absolute;
        bottom: 0.5vw;
        left: 37vw;
    }
    .ligne{
        display: none;
    }

    .nom{
        margin-left: 5vw;
    }

    .menu-mobile,.navbar-mobile{
        display: block;
        position: relative;
        top: 0vw;
    }
    .navbar-mobile{
        position: absolute;
        background: white;
        /* width: 100%; */
        top: -100%;
        transition: top 1.4s;
        z-index: 1
    }
    .navbar-mobile .list a{
        border-bottom: solid 1px;
        /* width: 100%; */
        display: block;
        padding: 1rem;
        text-align: center;
        font-size: 1.3rem;
        color: black;
        text-decoration: none;
    }
    .active-menu{
        top: 10%;
        transition: top 1.4s;
    }

    .titre-h3{
        width: 100%;
        font-size: 3vw;
        margin: auto;
        margin-bottom: -4vw;
    }

    .btn{
        font-size: 3.2vw;
    }

    .btn:hover{
        font-size: 4vw;
        color: black;
    }

    .dropdown {
        padding:1em 1em 0 1em;
        display:block;
      }
      
      .nav-toggle {
        -webkit-appearance: none;
        background: yellow;
        text-transform:uppercase;
        font-size:1em;
        padding:.5em;
        border:none;
        outline:none;
        transition: all 0.2s;
        cursor:pointer;
      }
      
      .nav-toggle:hover {
        background:#222;
        color:#fff;
      }
      
      .menu {
        list-style:none;
        padding:0;
        margin:1em 0 0 0;
        transition: all 0.8s cubic-bezier(.15,.7,0,1);
      }
      
      .menu a {
        display:block;
        color:yellow;
        text-align:center;
        font-size: 4vw;
        background-color: white;
        text-decoration:none;
        /* padding:.5em .5em; */
        outline:none;
        /* margin-bottom:.2em; */
        transition: all 0.2s;
      }
      
      
      .menu a:hover {
        background:#fff;
        color:#222;
      }
      
      .js .menu {
              overflow: hidden;
              max-height: 0;
      }
      
      .js .menu-active {
          /* max-height:5em; */
        /* padding-bottom:1em;s */
      }.dropdown {
  /* padding:1em 1em 0 1em; */
  display:block;
  margin-top: 6vw;
  z-index: 1;
  margin-left: 10vw;
  width: 35vw;
  height: 10vh;   
  line-height: 10vw;   
}

.nav-toggle {
  -webkit-appearance: none;
  background:white;
  text-transform:uppercase;
  font-size:1em;
  padding:.5em;
  border:none;
  outline:none;
  transition: all 0.2s;
  cursor:pointer;
  width: 30vw;
  margin-left: 5vw;
}

.nav-toggle:hover {
  background:#222;
  color:#fff;
}

.menu {
  list-style:none;
  padding:0;
  margin:1em 0 0 0;
  transition: all 0.8s cubic-bezier(.15,.7,0,1);
}

.menu a {
  display:block;
  color: black;
  text-align:center;
  text-decoration:none;
  /* padding:.5em .5em; */
  outline:none;
  /* margin-bottom:.2em; */
  transition: all 0.2s;
}


.menu a:hover {
  background:#fff;
  color:#222;
}

.js .menu {
		overflow: hidden;
		max-height: 0;
}

.js .menu-active {
	max-height:12em;
  padding-bottom:1em;
}
}

